@page "/google/userInfo"
@model OAuth2Simplified.Pages.Google.UserInfoModel
@{
    ViewData["Title"] = "Google User Info";
}

<div class="text-center">
    @if (AppSession.GoogleAccessToken != null)
    {
        <h3>Welcome @Model.UserInfo.Name</h3>
        <p>Email: @Model.UserInfo.Email</p>
    }
    else
    {
        <h3 class="display-4">Welcome, first you need to login using your Google credentials</h3>
        <form method="POST">
            <input type="submit" asp-page-handler="Login" value="Login" />
        </form>
    }
</div>