@page "/"
@model OAuth2Simplified.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}
<p>This is the C# translation (roughly not exactly) of the PHP code that accompanied the OAuth 2.0 tutorials here:</p>

<ul>
    <li>
        <a href="https://www.oauth.com/oauth2-servers/accessing-data/">
            Accessing Data in an OAuth Server
        </a>
    </li>
    <li>
        <a href="https://www.oauth.com/oauth2-servers/signing-in-with-google/">
            Signing in with Google
        </a>
    </li>
</ul>


<p>The code is just meant to demonstrate how the authorization flow works, and nothing else.</p>
<p>You will need to create your own applicatinos on GitHub and Google to run this web app (follow the above links for the creation steps). Once you create the apps, pass the secrets to the .NET configuration.</p>